@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (prefers-color-scheme: dark) {
        body {
            color: #f8f9fa;
            --secondary: rgba(222, 226, 230, 0.75);
            --tertiary: rgba(222, 226, 230, 0.5);
        }
    }

    @media (prefers-color-scheme: light) {
        body {
            color: #212529;
            --secondary: rgba(33, 37, 41, 0.75);
            --tertiary: rgba(33, 37, 41, 0.5);
        }
    }
    
    body {
        --body: Canvas;
        --primary: #0d6efd;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #212529;
        background-color: Canvas;
        color-scheme: light dark;
    }
    h1 {
       @apply text-4xl;
       @apply font-bold;
       line-height: unset;
    }
    input {
        @apply border;
        @apply rounded;
        border-color: ButtonBorder;
    }
}